
<div class="cocktails">
  <h1><%= "Cocktails" %></h1>
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
        	<div class="card">
	          <h3><%= cocktail.name + " " %></h3>
	          <br>
	          <p><%= link_to "More Info", cocktail_path(cocktail), class: "more-info" %></p>      
	        </div>
	    </div>
	   <% end %>
    </div>

  </div>
  
</div>
