<div class="banner", url('https://cdn1.freshoffthegrid.com/wp-content/uploads/make-ahead-negronis-for-camping-730x487@2x.jpg');">
  <div class="banner-content">
    <h1>Our Cocktails</h1>
  </div>
</div>