<div class="navbar">
  <!-- Icon -->
  	<i class="fas fa-glass-martini"></i>
  	
  
  <!-- Right Navigation -->
  	<%= link_to "Add Cocktail", new_cocktail_path, class: "navbar-item navbar-link" %>
</div>
    